spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:3306/gimbap
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USER}
    password: ${DB_PW}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

jwt:
  secret: ${JWT_SECRET_KEY}
  managerToken: ${JWT_MANAGER_TOKEN}
  adminToken: ${JWT_ADMIN_TOKEN}
