spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gimbap
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: "*STARrootroot"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

